@model IList<JensensWebApp.Models.Article>

@{
    ViewBag.Title = "Articles";

    Dictionary<string, string> topicDisplayNames = new Dictionary<string, string>
{
    {"Halsa", "Hälsa"},
    {"SamhalleKonflikter", "Samhälle/Konflikter"},
    {"Miljo", "Miljö"},
    {"VetenskapTeknik", "Vetenskap/Teknik"},
    {"LivsstillFritt", "Livsstil/Fritid"},
    {"Ekonomi", "Ekonomi"},
    {"Religion", "Religion"},
    {"Idrott", "Idrott"}
};

}
    
<img src="../Articles.png" alt="Article img" class="article-pic">

<div class="container">
	<div class="form-container">
		@using (Html.BeginForm("Index", "Home", FormMethod.Get))
		{
			<div id="select-topic-container">
				<select id="topic" name="topic" class="form-select">
					<option value="">Select a topic:</option>
					@foreach (var topic in topicDisplayNames)
					{
						<option value="@topic.Key">@topic.Value</option>
					}
				</select>
			</div>

			<div id="select-sort-container">
				<select id="sortBy" name="sortBy" class="form-select">
					<option value="">Sort by:</option>
					<option value="newest">Newest to Oldest</option>
					<option value="oldest">Oldest to Newest</option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary">Filter</button>
		}
	</div>

    <div class="cards-container">
        @foreach (var article in Model)
        {
            <div class="card-container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5>
                        <p class="card-text">@article.Summary</p>
                        <a href="@article.Link" class="card-link" target="_blank">Read More</a>
                        <p class="card-text"><small class="text-muted">@article.Published.ToString("yyyy-MM-dd HH:mm:ss")</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
